body {
    font-family: 'Press Start 2P', cursive, monospace;
    /* Fuente de estilo pixel art */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    margin: 0;
    overflow: hidden;
    /* Evita barras de desplazamiento */
}

/* Contenedor principal del juego */
#juego-contenedor {
    width: 900px;
    height: 200px;
    border: 5px solid #fff;
    background-color: #0056B3 ;
    position: relative;
    /* Para posicionar elementos internos */
    overflow: hidden;
    /* Importante para que los obstáculos desaparezcan */
}

/* El suelo del juego */
#suelo {
    width: 100%;
    height: 30px;
    /* Altura del suelo */
    background: url('../img/suelo.png') repeat-x;
    /* Imagen de suelo repetida */
    background-size: auto 30px;
    /* Ajusta el tamaño de la imagen */
    position: absolute;
    bottom: 0;
    /* Lo fija en la parte inferior */
    animation: moverSuelo 5s linear infinite;
    /* Animación de movimiento */
}

/* Animación para el movimiento del suelo */
@keyframes moverSuelo {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -900px;
    }

    /* Mueve el fondo para simular movimiento */
}

/* El Pixel-Bot */
#pixel-bot {
    width: 50px;
    height: 50px;
    background: url('../img/pixelbot.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    /* Encima del suelo */
    left: 50px;
    z-index: 10;
}

/* Clases para el salto del bot */
.saltando {
    animation: salto 0.6s ease-out forwards;
}

@keyframes salto {
    0% {
        bottom: 30px;
    }

    40% {
        bottom: 120px;
    }

    60% {
        bottom: 120px;
    }

    100% {
        bottom: 30px;
    }
}

/* Estilo de los obstáculos */
.obstaculo {
    width: 30px;
    height: 50px;
    background: url('../img/obstaculo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 900px;
}

/* Mensaje de juego (inicio/fin) */
#mensaje-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 100;
}

/* Puntuación */
#puntuacion {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 1em;
    z-index: 100;
}

#nivel, #nickname {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white !important;
    font-size: 1em;
    z-index: 100;
}

#nickname {
    top: 35px;
}